@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: aliceblue;
    Background-size: auto;
    background-attachment: scroll;
    background-image: url(../background/bank-note.svg);
}